.services-team {
  width: 144rem;
  height: 110.8rem;
  display: flex;
  gap: 10rem;
  align-items: center;
}

.services-team-left {
  width: 50%;
  height: 100%;
  padding: 5rem;
  flex-direction: column;
  text-align: left;
  transform: translateY(3rem);
}

.services-team-right {
  width: 50%;
  height: 100%;
  padding: 5rem;
}

.services-team-left-heading {
  font-size: 2.4rem;
  transform: translateX(-11rem);
}

.heading-description {
  display: flex;
}

.services-team-left-heading-description {
  font-size: var(--heading-font-size);
}

span {
  font-size: var(--heading-font-size);
  color: #3e60c9;
}

.praises {
  font-size: 1.8rem;
  color: gray;
  line-height: 4rem;
}

.offers {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 282px);
  grid-template-rows: repeat(2, 282px);
  row-gap: 2rem;
  column-gap: 2rem;
  padding-bottom: 6rem;
}

.offer-1,
.offer-2,
.offer-3,
.offer-4 {
  height: 27.58rem;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.offer-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.offer-description {
  color: gray;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0 3px;
}

.read-more {
  background: var(--default-btn-color);
  font-size: 1.2rem;
  width: 24.2rem;
  height: 4.4rem;
  border: none;
  color: white;
  border-radius: 6px;
  margin-top: 2rem;
}

.services-team-right > img {
  /* transform: translateY(5rem); */
}
