.blog-1 {
  height: 70rem;
  width: 134.9rem;
  flex-direction: column;
  background-image: url(../imgs/Blog\ Page\ imgs/stunning-barefooted-woman-trendy-fur-coat-dancing-laughing-photoshoot.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.about-blog {
  display: flex;
  flex-direction: column;
  margin-right: 50rem;
  /* margin-bottom: 50rem; */
  margin-left: 10rem;
  gap: 3rem;
  text-align: start;
}

.about-blog > p {
  color: white;
}

.blog-1-title {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.blog-1-description {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.date-and-numbers {
  display: flex;
  gap: 2rem;
}

.date-and-numbers > p {
  color: white;
  font-size: 1.2rem;
}

#read-more {
  width: 14.7rem;
  height: 4.4rem;
  border: 1px solid white;
  background: transparent;
  border-radius: 6px;
  transition: 0.2s;
}

#read-more:hover {
  background: white;
  transition: 0.2s;
}

#read-more:hover > pre {
  color: #ad96c5;
  transition: 0.2s;
}

#read-more > pre {
  font-size: var(--primary-font-size);
  color: white;
}
