.trending {
  gap: 2rem;
}

.trending-img {
  border-radius: 10px 10px 0 0;
}

#trending-heading {
  font-size: 2rem;
  transform: translateX(-52rem);
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.trending-description {
  display: flex;
  justify-content: space-between;
  transform: translateY(-5px);
  background: var(--accent);
  padding: 2rem;
  border-radius: 0 0 10px 10px;
}

.trending-name {
  color: white;
  font-size: 1.6rem;
}

.trending-category {
  font-size: var(--primary-font-size);
  color: gray;
}

.trending-price {
  display: flex;
  align-items: center;
}

.price {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 1rem;
  width: 15rem;
  height: 5rem;
  font-size: var(--primary-font-size);
  border-radius: 6px;
  transition: 0.2s;
}

.price:hover {
  background: white;
  color: var(--accent);
  transition: 0.2s;
}

@media (max-width: 768px) {
  #trending-heading {
    transform: translateX(-27rem);
  }

  .trending {
    display: flex;
    flex-direction: column;
  }

  .trending-img {
    width: 77.1rem;
    height: 43.9rem;
  }

  .on-desktop {
    display: none;
  }
}
